html,body{    
    margin:0;
    padding:0;
    font-size:62.5%;
    box-sizing:border-box;
    width:100%;
}

header{
    width:100%;
    margin:0;
    padding:0;
    font-size:1.8rem;
    
}

section{
    margin:0;
    padding:0;
    height:11.5rem;
    background-color:#515167;
}


section > span{
    display:inline-block;
    maring:0;
    padding:0;
    width:20%;
    clear:both;
}



section > span > img{
    margin:0;
    padding:0;
    width:calc(230px/2);
    background-color:#6b6c88;
}

#navy_logo{
    width:20%;
    text-align:center;
    float:left;
}


#navy_logo > img{
    float:right;
    background-color:#6b6c88;
}


section > nav{
    margin:0;
    padding:0;
    height:11.5rem;
    background-color:#6b7a88;
    width:60%;
    text-align: center;
    float:left;
}



#vet_logo > img {
    margin:0;
    padding:0;
    float:left;
}

nav > ul{
    margin:0 auto;
    padding:0;
    text-align:center;
}

nav > ul > li{
    margin:0;
    padding:0;
    display:inline;
    line-height:11.5rem;
    width:calc(100%/5);
    height:11.5rem;
    float:left
}

nav > ul > li > a{
    display:inline-block;
    margin:0;
    padding:0;
    width:100%;
    text-decoration:none;
    color:#ffffff;
}

nav > ul > li > a:hover{
    text-decoration:underline;
    background-color:#8598a9;
}